<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
        <h1 class="mb-4" style="color:#4F46E5;">Create New Listing</h1>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
                <div class="valid-feedback"> Titile Looks Good</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="enter description" required class="form-control"> </textarea>
                <div class="invallid-feedback">Please Enter a Description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input name="listing[image]" type="file" class="form-control" required>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="sample price" type="number" class="form-control" required>
                    <div class="invallid-feedback">Please Enter Valid Number</div>
                </div>
                <div class="mb-3 col-md-8 ">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                    <div class="invallid-feedback">Please Enter Valid Country</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Mumbai,Maharashtra" type="text" class="form-control" required>
                <div class="invallid-feedback">Please Enter Valid Location</div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <select name="listing[category]" id="category" class="form-control" required>
                    <option value="Mountain">Mountain</option>
                    <option value="Sea">Sea</option>
                    <option value="Camping">Camping</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Castles">Castles</option>
                    <option value="Farms">Farms</option>
                    <option value="Boats">Boats</option>
                    <option value="Domes">Domes</option>
                </select>
            </div>
            <button class="btn btn-primary w-100">Create</button>
            <br><br>
        </form>
    </div>
</div>